.homepage {
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;
  color: #d0d0d0;
  display: flex;
  flex-direction: column;
}

.homepage-table {
  margin-top: 20px;
  margin-left: 50px;
}

.homepage-scenario select {
  width: 300px;
  height: 50px;
  margin-left: 22px;
  font-size: 16px;
  background-color: #333333;
  color: #d0d0d0;
  outline: none;
  border: rgb(65, 65, 65);
}

.simulation-controls {
  display: flex;
  justify-content: end;
  margin-right: 100px;
}

.simulation-controls button {
  margin-right: 20px;
  height: 50px;
  width: 150px;
  font-size: 16px;
  color: #f6f6f6;
  font-weight: 500;
  border-radius: 5px;
}

.start-button {
  background-color: #4caf50;
  color: white;
}

.stop-button {
  background-color: #4a9aba;
  color: white;
}

.edit-vehicle {
  width: 50%;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.edit-form input {
  width: 100px;
  height: 25px;
}
